html,body{
    height: 100%;
}

body{background: url('../../bundles/acmeweb/images/loginBack.jpg')}

.vertical-center {
    height:100%;
    text-align: center;  /* align the inline(-block) elements horizontally */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: '';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.vertical-center > .centered  {
    display: inline-block;
    vertical-align: middle;
    margin-top: -150px;
    width: 30%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    text-align: left;
    padding: 15px 0px;
}

form{padding: 10px;}
