html,body{
    height: 100%;
}

body{
    background: url('../Resources/public/images/loginBack.jpg');
    background-size: 100% 100%;}

.vertical-center {
    height:100%;
    text-align: center;  /* align the inline(-block) elements horizontally */
}


.vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: '';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.vertical-center > .centered  {
    display: inline-block;
    vertical-align: middle;
    margin-top: -150px;
    width: 30%;
    border-radius: 10px;
    text-align: left;
    padding: 15px 0px;

    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 10%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255, 255, 255, 0.9)), color-stop(10%,rgba(255, 255, 255, 0.6)));
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 10%);
    background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 10%);
    background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 10%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 10%);
}

form{padding: 10px;}
