{% extends 'AcmeWebBundle::layout.html.twig' %}

{% block body %}
    <div class="navbar navbar-default">
        <div class="container">
            ttttttttttt
        </div>
    </div>
    <div class="main-container container-fluid"></div>
{% endblock %}

