{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            post edit <br>
            {{ comment.content }}
        </div>
    </div>
{% endblock %}